/* Configuração base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* HEADER */
header {
  background-color: #569755;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0.5px 0.5px 20px rgb(28, 68, 39);
}

.header-content {
  display: flex;
  align-items: center;
}

.logo {
  width: 4.2rem;
  margin-right: 1.5rem;
}

.text {
  display: flex;
  flex-direction: column;
}

.text h1 {
  font-size: 2.2em;
  margin: 0;
}

.text p {
  font-size: 0.8em;
  margin: 0;
}

/* Navegação */
nav ul {
  display: flex;
  gap: 1.5rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sections */
section {
  height: 90vh;
  padding: 4rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

section::after {
  content: '';
  position: absolute;
  bottom: -10vh;
  left: 0;
  right: 0;
  height: 10vh;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
}

/* Seção Sobre */
#sobre {
  background-color: #f4f4f4;
  text-align: center;
  padding: 3rem 0;
  border-bottom: 2px solid #ddd;
}

.img-sobre {
  width: 20rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  border: 10px solid #569755;
}

#sobre h2 {
  color: #569755;
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

#sobre p {
  font-size: 1.1em;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.8;
  padding: 1rem 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Seção Serviços */
.container-servicos {
  background-image: linear-gradient(135deg, #6fa876, #569755);
  color: white;
  padding: 3rem 0;
  text-align: center;
  border-bottom: 2px solid #ddd;
}

.container-servicos h2 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.container-servicos ul {
  list-style-type: none;
  padding: 0;
}

.container-servicos ul li {
  font-size: 1.3em;
  margin-bottom: 1rem;
  position: relative;
}

.container-servicos ul li::before {
  content: '✔';
  position: absolute;
  left: -25px;
  color: #fff;
}

/* Seção Contato */
.container-contato {
  background-color: #fff;
  color: #333;
  text-align: center;
  padding: 3rem 0;
}

.container-contato h2 {
  color: #569755;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.container-contato p {
  font-size: 1.2em;
  margin-bottom: 1rem;
}

.container-contato a {
  color: #569755;
  text-decoration: none;
  font-weight: bold;
}

.container-contato a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: #569755;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

footer p {
  font-size: 0.9em;
}

.botao-voltar-topo {
  position: fixed;
  bottom: 50px;
  width: 100px;
  height: 100px;
  right: 50px;
  background-color: #408a59;
  color: white;
  padding: 10px;
  border: 10px solid white;
  border-radius: 50%; 
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao-voltar-topo:hover {
  background-color: #0056b3;
}

